body{
	background-image:url(imagenes/cohete3.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
h1{
	text-align:center;
	font-family:Verdana;
	font-size:2.5em;
	color:black;
	font-weight:bold;
	margin-top:10px;
	
}
hr{
	
background-color:#231B78;
border-color:black;
height:5px;
margin-top:10px;
width:100%;
}
h2{
	text-align:left;
	font-family:Verdana;
	font-size:1,5em;
	color:black;
	margin-left:40px;
	text-decoration:underline;
	font-weight:bold;
	
}
p{
	font-size:1em;
	color:black;
	text-align:justify;
	margin-left:60px;
margin-right:60px;
}

img{
float: left;
width:100px;
height:130px;
margin:20px;
}

h3{
	text-align:left;
	font-family:Verdana;
	font-size:1,5em;
	color:black;
	margin-left:40px;
	text-decoration:underline;
	font-weight:bold;
}


header{
	height:100px;
	background-color:#012A65;
	clear:both;
	border:solid;
	opacity:0.9;
}


footer{
	clear:both;
	background-color:#231B78;
	height:auto;
	text-align:center;
	opacity:0.9;
}
main{
	height:auto;
	background-color:#1D175B;
	float:left;
	width:80%;
	opacity:0.9;
	margin-bottom:25%;

}
nav{
	float:left;
	background-color:#012A65;
	width:20%;
	height:auto;
	color:#D4E590;
}
nav table{
	width:100%;
	text-align:center;
	border-color:#231B78;
	border-style:solid;
	border-collapse: collapse;
	font-size:1.2em;
}

nav td{
	border-spacing:10px;
	border-color:#231B78;
	width:100%;
	transition: 0.1s;
}

nav td:hover{
    height: 30px;
    background-color: black;
    transition: 0.25s;
}
nav td:active{
    background-color: blue;
}
strong{
	color:#231B78;
	text-decoration:underline;
}
.img2{
	width:200px;
}
.img3{
	height:95px;
	margin-top:0px;
}
nav a{
    color: white;
    text-decoration: none;
    transition: 0.1s;
}
nav a:active{
    color:black;
    transition: 0.25s;
}

nav a:hover{
	
	text-decoration: underline;
	color: #B5E8DE;
	font-size:1.25em;
}

.imglata{
	height:180px;
	float:left;
	border:solid;
}

main table{
	width:70%;
	border:solid;
margin-left:140px;
}
main td{
	text-align:justify;
}
main th{
	text-align:justify;
	
}
#miembros{
	height:100px;
	background-color:#9DBAB6;
	clear:both;
	border:solid;
	opacity:0.9;
}
.miembros{
	text-align:center;
	font-family:Verdana;
	font-size:2.5em;
	color:black;
	font-weight:bold;
	margin-top:10px;
}
#nav{
	float:left;
	background-color:#D2E6E3;
	width:20%;
	height:auto;
	color:#D4E590;
}
.hr{
background-color:#D2E6E3;
border-color:black;
height:5px;
margin-top:10px;
width:100%;
}
#main{
	height:700px;
	background-color:#C2D8D4;
	float:left;
	width:80%;
}
#captionm{
	border:solid;
	font-size:1.5em;
	background-color:#B5E8DE;
}
#diseño{
	height:100px;
	background-color:#F9D3D3;
	clear:both;
	border:solid;
	opacity:0.9;
}
.diseño{
	color:black;
}
#nav2{
	float:left;
	background-color:#FEE2E2;
	width:20%;
	height:auto;
	color:#D4E590;
}
.hr2{
	background-color:#F1C4C4;
border-color:black;
height:5px;
margin-top:10px;
width:100%;
}
#mdiseño{
	height:auto;
	background-color:#F79F9F;
	float:left;
	width:80%;
}
#footer{
	clear:both;
	background-color:#A97676;
	height:auto;
	text-align:center;
}
#footer1{
	clear:both;
	background-color:#82B6B5;
	height:auto;
	text-align:center;
}
.calendario{
	width:500px;
	height:300px;
	border:solid;
}
iframe{
	border:solid;
	margin-top:50px;
}
.tabla1{
	margin-top:40px;
	border-style:solid;
}
#mainindex{
	height:600px;
	overflow:overflow-y;
	overflow-y:scroll;
}
video{
	margin-top:30px;
}



	
	

}
#miembro{
	font-size:1.2em;
	border-style:solid;
	text-align:center;
}
#tareas{
	font-size:1.2em;
	border-style:solid;
	text-align:center;
}
li{
	margin-left:20px;
}
.diseno{
	color:#F43838;
	font-size:1.1em;
}
main td{
	border-style:solid;
	background-color:#DAE7E7;

}
main table{
	border-collapse:collapse;
}
main th{
	background-color:#E9FFFF;
	border-color:black;
}
@media screen and (min-width: 800px
and max-width: 1023px)
{
header { clear:both; width:100%;}
nav { float:left; width:30%;}
main { float:left; width:70%;}
p {font-size:1.1em;}
}
main a{
	color:red;
	font-weight:bold;
}
.imgtapa{
	width:200px;
	height:200px;
	border-style:solid;
}
#nav_boton {
 display: none;
 background-color: :#384B33 ;
 height: 25px;
 width: 100%;
 cursor: pointer;
}
nav_boton{
	display:none;
	cursor:pointer;
	height:100%;
	width:100%;
}
@media screen and (max-width: 779px)
{
	nav, main{width:100%;}
	p {font-size:1.2em;}
	iframe{width:300px;
	height:200px;}
	video{width:300px;
	height:200px;}
	header{height:130px;}
	nav table{font-size:1.2em;}
	#mdiseño, #nav2, #main, #nav{width:100%;}
	#diseño{height:130px;}
	.tabla1{margin-left:50px;
	margin-top:10px;
	font-size:1em;}
	.calendario{width:420px;
	height:250px}
	#mdiseño{font-size:1.2em;}
	#nav_boton { display: block;}
	#nav_menu {display: none;}
	.lista{width:50px; height:30px;}
}

.imglata2{
	height:250px;
	width:200px;
	border-style:solid;
}
